    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }
    
    body,
    .oferta,
    .cennik {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    .oferta,
    .cennik {
        margin: 40px auto;
    }
    /* nawigacja */
    
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0;
        border-bottom: 1px solid rgb(9, 113, 178);
        width: 100%;
        text-decoration-line: none;
        z-index: 1;
        height: 65px;
    }
    
    .menu li {
        display: inline-block;
        list-style: none;
        /* text-align: left; */
    }
    
    .left {
        padding-left: 5%;
        line-height: 50px;
        width: 40%;
        text-align: left;
    }
    
    .left img {
        position: absolute;
        top: 3px;
        left: 17%;
        line-height: 100%;
        text-align: center;
        cursor: pointer;
    }
    
    .left a {
        border-radius: 10px;
        /* border: 2px solid rgba(20, 133, 204); */
        font-size: 18px;
        background: rgb(255, 0, 0);
        background: linear-gradient(54deg, rgba(255, 55, 0, 1) 0%, rgba(255, 194, 25, 1) 100%);
        color: white;
    }
    
    .left a:hover {
        background: rgb(255, 0, 0);
        background: linear-gradient(54deg, rgba(255, 0, 0, 1) 0%, rgba(255, 206, 25, 1) 100%);
        transition: 1s linear;
    }
    
    .left i {
        padding: 0 8px;
    }
    
    .right {
        
        padding-right: 5%;
        text-transform: uppercase;
        background-color: #fff;
        width: 60%;
        text-align: right;
    }
    
    .right a {
        font-size: 16px;
        color: #000;
        background-color: #fff;
    }
    
    .menu a {
        font-family: 'Open Sans';
        font-weight: bold;
        /* color: rgb(12, 12, 12,); */
        line-height: 50px;
        text-decoration-line: none;
        padding: 15px 20px;
    }
    
    .right a:hover {
        border-bottom: 2px solid rgba(20, 133, 204);
        /* background-color: rgba(0, 0, 0, 0.2); */
        color: red;
    }
    /* burger */
   
   .burger {
       position: fixed;
       top: 0px;
       right: 20px;
       font-size: 50px;
       z-index: 3;
   }

   i.off {
       display: none;
   }
   i.fa-bars{
       color: rgb(65, 65, 65);
   }

   i.fa-angle-up {
       color: rgb(65, 65, 65);
   }

   aside {
       position: fixed;
       max-width: 1600px;
       margin: 0 auto;
       
       /* right: 0; */
       min-width: 300px;
       top: 0;
       right: 0;
       height: 60px;
       transition: .3s;
       /* border-bottom: 1px solid rgb(9, 113, 178); */
   }

   aside.off {
       top: -100px;
   }

   nav.off{
       display: none;
   }

   /* nawigacja mobile */
.mobile {
    text-transform: uppercase;
    background-color: rgb(233, 232, 232);
    min-width: 300px;
    min-height: 220px;
    text-align: center;
    text-decoration-line: none;
    z-index: 2;
}
.mobile li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* display: inline-block; */
    list-style: none;
    /* text-align: left; */
}

.mobile a {
    font-family: 'Open Sans';
    font-weight: bold;
        /* color: rgb(12, 12, 12,); */
    line-height: 25px;
    text-decoration-line: none;
    padding: 15px 20px;
    font-size: 18px;
    color: #000;
    margin: 1px;
    background-color: #fff;
    
}

.mobile a:hover {
    border-bottom: 2px solid rgba(20, 133, 204);
    /* background-color: rgba(0, 0, 0, 0.2); */
    color: red;
}
.mobile.off {
    top: -260px;
}
    /* banner */
    
    header {
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
    }
    
    header img {
        margin-top: 10%;
        width: 100%;
    }
    
    .welcome {
        position: absolute;
        top: 10%;
        left: 10%;
        /* width: 50%; */
        text-align: center;
        text-transform: uppercase;
    }
    
    header h1 {
        font-size: 50px;
        text-transform: uppercase;
        color: #333;
    }
    
    header h2 {
        font-size: 30px;
        /* color: rgb(9, 113, 178); */
        color: #333;
    }
    /* info */
    
    .info {
        position: relative;
        width: 100%;
        /* height: 80vh; */
        text-align: center;
        text-decoration-line: none;
        margin-top: 20px;
    }
    
    .info .columns {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: center;
        /* width: 30%; */
        /* height: 100px; */
    }
    
    .info .columns div {
        width: 30%;
        height: 35%;
        margin: 10px 8px;
        background-color: white;
        padding: 20px;
        border: 3px solid rgb(9, 113, 178);
        border-radius: 20px;
        line-height: 180%;
        text-align: center;
    }
    
    .info .columns div h3 {
        /* color: rgb(9, 113, 178); */
        font-size: 22px;
        color: #333;
        padding: 10px;
    }
    
    .info a {
        text-decoration-line: none;
        text-align: center;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
        /* border: 2px solid rgba(20, 133, 204); */
        font-size: 18px;
        background-color: rgb(9, 113, 178);
        /* background: rgb(255, 0, 0);
        background: linear-gradient(54deg, rgba(255, 55, 0, 1) 0%, rgba(255, 194, 25, 1) 100%); */
        color: white;
    }
    
    .info a:hover {
        background: rgb(255, 0, 0);
        background: linear-gradient(54deg, rgba(255, 0, 0, 1) 0%, rgba(255, 206, 25, 1) 100%);
        transition: 1s linear;
    }
    
    .info i {
        padding: 0 8px;
    }
    /* oferta */
    
    .oferta {
        position: relative;
        background-color: rgb(245, 245, 245, .5);
        width: 100%;
        /* height: 80vh; */
        text-align: center;
        text-decoration-line: none;
    }
    
    .oferta h2 {
        font-size: 30px;
        padding: 30px;
    }
    
    .oferta .columns {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-around;
        /* width: 30%; */
        /* height: 100px; */
    }
    
    .oferta .columns div {
        width: 43%;
        height: 35%;
        margin: 50px;
        background-color: white;
        padding: 20px;
        border: 1px solid rgb(9, 113, 178);
        border-radius: 20px;
    }
    
    .oferta .columns div h3 {
        color: rgb(9, 113, 178);
        padding: 10px;
    }
    
    .cennik {
        position: relative;
        text-align: center;
        background-color: rgb(245, 245, 245, .5);
        width: 100%;
        /* height: 120vh; */
        text-decoration-line: none;
    }
    
    .cennik h2 {
        font-size: 30px;
        padding: 30px;
    }
    
    .cennik .columns {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-around;
        /* width: 30%; */
        /* height: 100px; */
    }
    
    .cennik .columns div {
        width: 43%;
        height: 35%;
        margin: 50px;
        background-color: white;
        padding: 20px;
        border: 1px solid rgb(9, 113, 178);
        border-radius: 20px;
    }
    
    .cennik .columns div h3 {
        color: rgb(9, 113, 178);
        padding: 10px;
    }
    
    .contact {
        position: relative;
        text-align: center;
        background-color: rgb(245, 245, 245, .5);
        width: 100%;
        /* height: 120vh; */
        text-decoration-line: none;
    }
    
    .contact a {
        text-decoration-line: none;
        color: black;
        padding: 20px;
        margin: 20px;
    }
    
    .contact i {
        padding: 0 8px;
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        font-size: 14px;
    }
    
    footer li {
        display: inline-block;
    }
    
    footer a {
        text-decoration-line: none;
        color: #333;
    }
    
    footer p {
        text-align: center;
        padding: 10px;
        font-size: 14px;
        color: #333;
    }
    /* media mobile Portrait and  Landscape */
    @media (max-width: 2560px) {
        .burger {
            display: none;
        }
@media (max-width: 1440px) {
    
    .info a {
        font-size: 16px;
    }

    .info .columns div h3 {
        font-size: 19px;
    }

    .cennik .columns div,
    .oferta .columns div {
        width: 45%;
        margin: 16px;
    }

    @media (max-width: 1260px) {
        .menu a {
            padding: 15px 15px;
        }
        .info a {
            font-size: 16px;
        }

        .info .columns div h3 {
            font-size: 18px;
        }

        .cennik .columns div,
        .oferta .columns div {
            width: 45%;
            margin: 16px;
        }
    }

    @media (max-width: 1025px) and (orientation: Portrait) {
    .menu a {
        padding: 15px 8px;
    }
    
    .left {
        padding-left: 3%;
    }
    .left a {
        font-size: 15px;
    }
    .right {
        padding-right: 1%;
    }
    .right a {
        font-size: 15px;
    }
    
        .info .columns div {
        width: 47%;
    }
    
    .oferta .columns {
        justify-content: center;
    }
    .oferta .columns div {
        width: 45%;
        margin: 24px;
    }
     .cennik .columns {
         justify-content: center;
     }

     .cennik .columns div {
         width: 45%;
         margin: 24px;
     }
     .oferta h2, .cennik h2{
         font-size: 40px;
     }
     p {
         font-size: 18px;
         line-height: 160%;
     }
}

 @media (max-width: 768px) and (orientation: Portrait) {
    .burger {
        display: block;
    }
    /* menu burger */
    .welcome {
        left:4%;
    }
    .welcome h1 {
        font-size: 40px;
    }
    .welcome h2 {
         font-size: 26px;
    }

    .left {
         padding-left: 3%;
     }

     .right {
         padding-right: 1%;
     }

     .info .columns div {
         width: 92%;
     }
     .info a {
         font-size: 22px;
         text-decoration: none;
     }

     .oferta .columns {
         justify-content: center;
     }

     .oferta .columns div {
         width: 92%;
         margin: 24px;
     }

     .cennik .columns {
         justify-content: center;
     }

     .cennik .columns div {
         width: 92%;
         margin: 24px;
     }

     .oferta h2,
     .cennik h2 {
         font-size: 44px;
     }

     p {
         font-size: 22px;
         line-height: 160%;
     }
 }
@media (max-width: 414px) and (orientation: Portrait) {

    /* menu burger */
    .menu li.left {
        width: 70%;
    }
    .menu li.right{
        display: none;
    }
     .left a {
         font-size: 14px;
     }

     .menu a {
         padding: 15px 5px;
     }

    .welcome h1 {
        font-size: 28px;
    }

    .welcome h2 {
        font-size: 20px;
    }

    header img {
        margin-top: 35%;
    }

    .info .columns div {
        width: 95%;
    }

    .info a {
        font-size: 17px;
    }

    .oferta .columns div {
        width: 95%;
        margin: 12px;
    }

    .cennik .columns div {
        width: 92%;
        margin: 12px;
    }

    .oferta h2,
    .cennik h2 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
        line-height: 160%;
    }
}
@media (max-width: 375px) and (orientation: Portrait) {

    /* menu burger */
    

    .left a {
        font-size: 11px;
    }
    .menu a {
        padding: 15px 5px;
        
    }

    .welcome h1 {
        font-size: 25px;
    }

    .welcome h2 {
        font-size: 18px;
    }

    .info a {
        font-size: 15px;
        margin: 3px;
    }

    .oferta h2,
    .cennik h2 {
        font-size: 36px;
        padding: 18px;
    }

    p {
        font-size: 16px;
        line-height: 160%;
    }
}
@media (max-width: 320px) and (orientation: Portrait) {

    /* menu burger */

    .left a {
        font-size: 11px;
    }

       .welcome h1 {
        font-size: 22px;
    }

    .welcome h2 {
        font-size: 16px;
    }

    .info a {
        font-size: 12px;
        
    }

    .oferta h2,
    .cennik h2 {
        font-size: 32px;
        padding: 18px;
    }
}


@media (max-width: 1024px) and (orientation: Landscape) {
   .left a {
       font-size: 15px;
       
    }
    .right {
       padding-right: 2%;
   }
   .right a {
       font-size: 15px;
       padding: 15px 10px;
   }
    .info .columns div {
        width: 45%;
    }

    .oferta .columns {
        justify-content: center;
    }

    .oferta .columns div {
        width: 45%;
        margin: 16px;
    }

    .cennik .columns {
        justify-content: center;
    }

    .cennik .columns div {
        width: 45%;
        margin: 16px;
    }

    .oferta h2,
    .cennik h2 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
        line-height: 160%;
    }

}
@media (max-width: 812px) and (orientation: Landscape) {
    .welcome {
        left: 4%;
    }

    .welcome h1 {
        font-size: 40px;
    }

    .welcome h2 {
        font-size: 26px;
    }

    .left {
        padding-left: 2%;
    }
    .left a {
        font-size: 16px;
    }

    .right {
        padding-right: 1%;
    }
    .menu a{
        padding: 15px 8px;
        text-decoration: none;
    }

    .info .columns div {
        width: 48%;
    }

    .oferta .columns {
        justify-content: center;
    }

    .oferta .columns div {
        width: 45%;
        margin: 14px;
    }

    .cennik .columns {
        justify-content: center;
    }

    .cennik .columns div {
        width: 45%;
        margin: 14px;
    }

    .oferta h2,
    .cennik h2 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
        line-height: 160%;
    }
}

@media (max-width: 736px) and (orientation: Landscape) {
   
    .welcome h1 {
        font-size: 38px;
    }

    .welcome h2 {
        font-size: 24px;
    }
    .left {
        padding-left: 2%;
    }


    .left a {
        font-size: 14px;
    }


    .menu a {
        padding: 15px 3px;
    }
    .right a {
        font-size: 14px;
    }

    .info .columns div {
        width: 95%;
    }

    

    .oferta .columns div {
        width: 95%;
        
    }

    .cennik .columns {
        justify-content: center;
    }

    .cennik .columns div {
        width: 95%;
     
    }

}

@media (max-width: 640px) and (orientation: Landscape) {

    .welcome h1 {
        font-size: 32px;
    }

    .welcome h2 {
        font-size: 22px;
    }

}